tests/**/*.o
tests/bin/*
!tests/bin/.gitkeep

tests/workdata/*
!tests/workdata/.gitkeep

libscl/bin/*
libscl/bin/*/*
!libscl/bin/.gitkeep

libscl/**/*.o
libscl/workdata/*
!libscl/workdata/.gitkeep
